body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#form {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

#sanskrit {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

#translation {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#meaning {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#speech-container {
    margin-top: 20px;
}

#speech {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#speech:hover {
    background-color: #333;
}